<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Manufacturer</th>
        <th> Model</th>
        <th> Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td><span th:text="${car.getManufacturer()}"> Manufacturer </span></td>
        <td><span th:text="${car.getModel()}"> Model </span></td>
        <td><span th:text="${car.getPrice()}"> Price </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>